<% include partials/head %>

 <p>You have ventured through the evil labyrinth and Defeated the Mighty Hydra!<br>Congratulations <%=playerName %></p>
    <div class="ml-5 pl-4 mt-1 pb-1">
          <img id="avatar" class="img-fluid" src=<%=playerAvatar %> alt="image not found">
      </div>

    <a href="/">Play Again?</a>

  <% include partials/foot %>