<% include partials/head %>
  <div class="row">
    <a href="/newGame" class="titletext pt-5 pb-5" data-toggle="tooltip" data-placement="bottom" title="Start a New Game"><%= title %></a>
  </div>


  <% include partials/foot %>
