<% include partials/head %>
<% include partials/charref %>

<div id="action-area">
    <p>You Come to a dark cave, and out pops a 
        <%= monster %>
    </p>

<% include partials/submitarea %>
<% include partials/foot %>