<% include partials/head %>
<% include partials/charref %>
<% include partials/characterarea %>

<div class="col-3 m-2" id="story-area">
    An Wild Pack of
        <%= monster %> nip at your heels!
    <div id="resultArea">
    </div>
</div>
<div class="col-3 m-2 p-2" id="dice-area"></div>

</div>

<% include partials/submitarea %>
<% include partials/foot %>