/* Animations */
@keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  .blinking{
    animation: blinker 1s linear infinite;
  }

@keyframes flyinright {
    from {margin-left:0%}
    to{margin-left:40%}
}

@keyframes deadguy{
  to{width:0;
  height:0;
  overflow:hidden;}
}

.deadimage{
  animation-name: deadguy;
  animation-timing-function: ease-in-out;
  animation-duration: 7s;
  animation-fill-mode: forwards;
}