@keyframes blinker {
  50% {
    opacity: 0;
  }
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

button a, button a:hover {
  color: white;
  text-decoration: none;
}

button a:active {
  color:gold;
}

p {
  color:red;
}
#avatar{
  width:8rem;
  max-height:8rem;
  align-self: center;
}
#monsterimage{
  width:75%;
  align-self: center;
}

#playerthumb{
  width:3rem;
  max-height:3rem;
}

#artifactimage{
  width:4rem;
  max-height:4rem;
  padding: 1rem 1rem 0 0;
}

#playerbox{
  vertical-align: bottom;
  text-align:bottom;
}
#playrow{
  background-color:silver;
}

#dice-area img{
  width:12rem;
  padding:1rem;
}

#dice-area{
 text-align:center;
}
.green {
  color:green;
}
.gold{
  color:goldenrod;
}
.blue{
  color:blue;
}
.orange{
  color:orange;
}
.purple{
  color:purple;
}
.gray{
  color:darkslategrey;
}
.red{
  color:darkred;
}
.bold{
  font-weight: bold;
}
.blinking{
  animation: blinker 1s linear infinite;
}

